html,
body,
#root,
.calculator-container{
  height: 100%;
}
.display-container{
  font-size: 6rem;
}
.button-container,
.button-container .row{
  flex: 1 0 auto;
}
.button-container button{
  border-radius: 0;
  box-shadow: none !important;
  font-size: 5rem;
}
.button-container .right-panel button{
  font-size: 4rem;
}
/* Media queries for vertical scaling */
@media (max-height: 850px){
  html{
    font-size: 14px;
  }
}

@media (max-height: 750px){
  html{
    font-size: 10px;
  }
}

@media (max-height: 550px){
  html{
    font-size: 8px;
  }
}

@media (max-height: 450px){
  html{
    font-size: 6px;
  }
}